---
import { app } from "@lib/firebase/server";
import { getAuth } from "firebase-admin/auth";
import DashboardLayout from "@layouts/DashboardLayout.astro";
import InfoField from "@components/InfoField.astro";
import CourseTable from "@components/table/CourseTable.astro";

import EditIcon from "@assets/icons/Edit.svg";

const auth = getAuth(app);

/* Check current session */
const sessionCookie = Astro.cookies.get("session").value;

if (!sessionCookie) {
  return Astro.redirect("/signin");
}
const decodedCookie = await auth.verifySessionCookie(sessionCookie);
const user = await auth.getUser(decodedCookie.uid);

if (!user) {
  return Astro.redirect("/signin");
}
---

<DashboardLayout page="home">
  <div
    class="p-2.5 flex flex-row gap-2.5 items-start justify-start self-stretch flex-1 overflow-y-clip"
  >
    <div
      class="flex flex-col gap-2.5 items-start justify-start self-stretch flex-1"
    >
      <main
        class="bg-highlight rounded-[10px] flex flex-col gap-0 items-start justify-start self-stretch flex-1 relative overflow-hidden"
      >
        <div
          class="pt-2.5 pb-2.5 flex flex-row gap-5 items-start justify-start flex-wrap self-stretch shrink-0 relative"
        >
          <InfoField title="Name" value="Student's Name" icon={EditIcon} />
          <InfoField title="Student ID" value="xxxxxx" icon={EditIcon} />
          <InfoField title="DOB" value="xx/xx/xxxx" icon={EditIcon} />
          <InfoField title="Major" value="Major Name" icon={EditIcon} />
          <InfoField title="Double Major:" value="Major Name" icon={EditIcon} />
          <InfoField
            title="Minor(s)"
            value="Minor Name, Minor Name"
            icon={EditIcon}
          />
        </div>
        <CourseTable />
      </main>

      <footer
        class="bg-highlight rounded-[10px] pt-[30px] pr-2.5 pb-[30px] pl-2.5 flex flex-row gap-0 items-start justify-start flex-wrap self-stretch shrink-0 relative overflow-hidden"
      >
      </footer>
    </div>

    <side
      class="bg-highlight rounded-[10px] pt-[15px] pr-5 pb-[15px] pl-5 flex flex-col gap-5 items-start justify-start self-stretch shrink-0 w-[506px] relative"
      style="overflow-y: auto"
    >
    </side>
  </div>
</DashboardLayout>
