---
interface Props {
  num?: number;
  classes?: string;
  term?: string;
  code?: string;
  title?: string;
  grade?: string;
}
const {
  classes,
  num = 0,
  term = "Term",
  code = "Course Code",
  title = "Course Name",
  grade = "Grade",
} = Astro.props;
---

<tr class:list={[classes, "flex w-full mb-4 items-center"]}>
  <td
    class="num text-text p-4 basis-1/12"
    style="font: 500 20px 'Montserrat', sans-serif"
  >
    {num}
  </td>
  <td
    class="term text-text p-4 basis-1/4"
    style="font: 500 20px 'Montserrat', sans-serif"
  >
    {term}
  </td>
  <td
    class="code text-text p-4 basis-1/6"
    style="font: 500 20px 'Montserrat', sans-serif"
  >
    {code}
  </td>
  <td
    class="title text-text p-4 flex-1 text-center"
    style="font: 500 20px 'Montserrat', sans-serif"
  >
    {title}
  </td>
  <td
    class="grade text-text p-4 basis-1/12"
    style="font: 500 20px 'Montserrat', sans-serif"
  >
    {grade}
  </td>
  <td
    class="text-text p-4 basis-[12%]"
    style="font: 500 20px 'Montserrat', sans-serif"
  >
    <slot />
  </td>
</tr>
