---
import MainLayout from "../layouts/MainLayout.astro";
import backgroundIcon1 from "../assets/icons/backgroundIcon1.png";
import backgroundIcon2 from "../assets/icons/backgroundIcon2.png";
import InputField from "../components/InputField.astro";
import "../styles/authLayout.css";
import SignOptionBtn from "../components/SignOptionBtn.astro";
import googleIcon from "../assets/icons/google.png";
import githubIcon from "../assets/icons/github.png";
import LevelDropDown from "../components/LevelDropDown.astro";
const { action, title } = Astro.props;
---

<MainLayout>
    <p class="app-title">Fultracker</p>
    <form action=`/api/auth/${action}` method="post" autocomplete="off">
        <p class="title">{title}</p>
        <div class="input-box">
            <InputField name="Email" , type="email" />
            <InputField name="Password" , type="password" />
        </div>{
            action == "register" ? (
                <div class="option-box">
                    <div class="switch-box">
                        <p id="switch-title">Don't have account? Create new!</p>
                    </div>
                    <LevelDropDown />
                </div>
            ) : (
                <div class="switch-box" style="width:100%;">
                    <p id="switch-title">Don't have account? Create new!</p>
                </div>
            )
        }
        <div class="btn-box">
            <button id="sign-btn" type="submit">Let me INN!!!</button>
        </div>
        <div class="option-divider-box">
            <div class="divider"></div>
            <div class="divider-title-box">
                <p class="divider-title">or</p>
            </div>
        </div>
        <div class="sign-option-box">
            <SignOptionBtn
                title="Google"
                icon={googleIcon}
                backgroundColor="#1639B6"
                action={action}
            />
            <SignOptionBtn
                title="Github"
                icon={githubIcon}
                backgroundColor="#707070"
                action={action}
            />
        </div>
    </form>
    <div style="position: absolute; top: 0; right: 0;">
        <img src={backgroundIcon1} alt="Background icon 1" height="300" />
    </div>
    <div style="position: absolute; bottom: 0; left: 0;">
        <img src={backgroundIcon2} alt="Background icon 2" height="260" />
    </div>
    <p class="schoolName">Fulbright</p>
</MainLayout>

<script define:vars={{ action }}>
changeElemIds = {
    "sign-btn": ["Let me INN!!!", "Sign me Upp!!"],
    "switch-title": [
        "Don't have account? Create new!",
        "Already have an account? Sign in!",
    ],
};

for (ele in changeElemIds) {
    document.getElementById(ele).innerHTML =
        changeElemIds[ele][+(action == "register")];
}
</script>
